<div class="side-full">
		
		
		<!-- Text Cols -->
		<div class="cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h3 class="ico ico4">Quem somos</h3>
				<p>Saiba mais sobre o site e a equipe composta por ela.</p>
				<p class="more"><a href="sobre.jsp" class="bul">Saiba mais</a></p>
			</div>
			<div class="col">
				<h3 class="ico ico2">Contato</h3>
				<p>Algo n&atilde;o ficou claro em nosso site, precisa tirar alguma d&uacute;vida ou gostaria apenas de nos mandar sua sugest&atilde;o? Fale conosco e nos ajude a melhorar cada vez mais.</p>
				<p class="more"><a href="contato.jsp" class="bul">Saiba mais</a></p>
			</div>
			<div class="col">
				<h3 class="ico ico3">Presente</h3>
				<p>Gostaria de presentear aquele seu amigo, namorado, primo, irm&atilde;o? N&atilde;o perca tempo e saiba sobre nossas promoções!</p>
				<p class="more"><a href="promo.jsp" class="bul">Saiba mais</a></p>
			</div>
			<div class="col col-last">
				<h3 class="ico ico1">Inscri&ccedil;&atilde;o</h3>
				<p>Fa&ccedil;a seu cadastro e comece agora mesmo adicionando itens ao seu carrinho de compras.</p>
				<p class="more"><a href="cadastro.jsp" class="bul">Saiba mais</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- End Text Cols -->
		
	</div>